# IDE and Editor Folders
.idea/
.vscode/
*.swp
*.swo
node_modules/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build artifacts
dist/
uploads/

# Lock Files
package-lock.json

# OS files
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.temp
