.component1-container {
  width: 100%;
  height: 25px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: #ffffff;
  border-style: ridge;
  border-width: 4px;
  justify-content: flex-start;
  background-color: #277ef5;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.component1-image {
  width: auto;
  height: 65%;
  object-fit: cover;
  margin-left: 8px;
  margin-right: 8px;
}
.component1-text {
  color: #ffffff;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-family: Red Hat Mono;
  font-weight: 500;
  margin-left: 0px;
}
.component1-image1 {
  top: 2px;
  right: 0px;
  width: auto;
  height: 80%;
  position: absolute;
  object-fit: cover;
  margin-right: 4px;
}



.app-component-container {
  gap: 0;
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 50;
  position: relative;
  flex-wrap: wrap;
  max-width: auto;
  align-self: flex-start;
  align-items: center;
  padding-top: 2px;
  border-color: #ffffff;
  border-style: ridge;
  border-width: 1px;
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  padding-bottom: 2px;
  justify-content: flex-start;
  border-top-width: 4px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.app-component-link {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-style: normal;
  text-align: left;
  transition: 0.3s;
  font-family: Red Hat Mono;
  font-weight: 500;
  text-decoration: none;
}
.app-component-link:hover {
  opacity: 0.75;
}
.app-component-link:active {
  font-style: normal;
  font-weight: 700;
}
.app-component-text:hover {
  opacity: 0.75;
}
.app-component-text:active {
  font-style: normal;
  font-weight: 700;
}
.app-component-text01:hover {
  opacity: 0.75;
}
.app-component-text01:active {
  font-style: normal;
  font-weight: 700;
}
.app-component-text02:hover {
  opacity: 0.75;
}
.app-component-text02:active {
  font-style: normal;
  font-weight: 700;
}
.app-component-link1 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-style: normal;
  text-align: left;
  transition: 0.3s;
  font-family: Red Hat Mono;
  font-weight: 500;
  text-decoration: none;
}
.app-component-link1:hover {
  opacity: 0.75;
}
.app-component-link1:active {
  font-style: normal;
  font-weight: 700;
}
.app-component-text05:hover {
  opacity: 0.75;
}
.app-component-text05:active {
  font-style: normal;
  font-weight: 700;
}
.app-component-text06:hover {
  opacity: 0.75;
}
.app-component-text06:active {
  font-style: normal;
  font-weight: 700;
}
.app-component-text07:hover {
  opacity: 0.75;
}
.app-component-text07:active {
  font-style: normal;
  font-weight: 700;
}
.app-component-link2 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-style: normal;
  text-align: left;
  transition: 0.3s;
  font-family: Red Hat Mono;
  font-weight: 500;
  text-decoration: none;
}
.app-component-link2:hover {
  opacity: 0.75;
}
.app-component-link2:active {
  font-style: normal;
  font-weight: 700;
}
.app-component-text10:hover {
  opacity: 0.75;
}
.app-component-text10:active {
  font-style: normal;
  font-weight: 700;
}
.app-component-text11:hover {
  opacity: 0.75;
}
.app-component-text11:active {
  font-style: normal;
  font-weight: 700;
}
.app-component-text12:hover {
  opacity: 0.75;
}
.app-component-text12:active {
  font-style: normal;
  font-weight: 700;
}
.app-component-root-class-name {
  left: 4px;
  bottom: 4px;
  position: absolute;
}
.app-component-root-class-name1 {
  left: 4px;
  bottom: 4px;
  position: absolute;
}
.app-component-root-class-name2 {
  left: 4px;
  right: 0px;
  bottom: 4px;
  position: absolute;
}

.home-container {
  width: 100%;
  display: flex;
  z-index: 0;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: #ffffff;
  border-style: ridge;
  border-width: 4px;
  flex-direction: column;
  background-color: #000000;
}
.home-container1 {
  width: auto;
  height: auto;
  display: flex;
  padding: 4px;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  justify-content: flex-start;
}
.home-text {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 12px;
  font-style: normal;
  font-family: Red Hat Mono;
  font-weight: 500;
}
.home-container2 {
  width: auto;
  height: auto;
  display: flex;
  padding: 4px;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  justify-content: flex-start;
}
.home-navlink {
  color: rgb(255, 255, 255);
  font-size: 12px;
  text-align: left;
  transition: 0.3s;
  font-family: Red Hat Mono;
  font-weight: 500;
  text-decoration: none;
}
.home-navlink:hover {
  opacity: 0.75;
  font-style: normal;
  font-weight: 500;
}
.home-navlink:active {
  font-style: normal;
  font-weight: 700;
}
.home-navlink1 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-style: normal;
  text-align: left;
  transition: 0.3s;
  font-family: Red Hat Mono;
  font-weight: 500;
  text-decoration: none;
}
.home-navlink1:hover {
  opacity: 0.75;
}
.home-navlink1:active {
  font-style: normal;
  font-weight: 700;
}
.home-link {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-style: normal;
  text-align: left;
  transition: 0.3s;
  font-family: Red Hat Mono;
  font-weight: 500;
}
.home-link:hover {
  opacity: 0.75;
}
.home-link:active {
  font-style: normal;
  font-weight: 700;
}
.home-container3 {
  width: auto;
  height: auto;
  display: flex;
  padding: 4px;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  justify-content: flex-start;
}
.home-text08 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 12px;
  font-style: normal;
  font-family: Red Hat Mono;
  font-weight: 500;
}
