<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <a href="mailto:lucasdflowers@gmail.com?subject=" class="component-link">
      <span class="component-text">   </span>
      <br class="component-text01" />
      <span class="component-text02">    [ EMAIL ]</span>
      <br />
      <br />
    </a>
    <a
      href="https://github.com/lflowers01"
      target="_blank"
      rel="noreferrer noopener"
      class="component-link1"
    >
      <span class="component-text05">   </span>
      <br class="component-text06" />
      <span class="component-text07">    [ GITHUB ]</span>
      <br />
      <br />
    </a>
    <a
      href="https://www.linkedin.com/in/lucas-flowers-57109a288/"
      target="_blank"
      rel="noreferrer noopener"
      class="component-link2"
    >
      <span class="component-text10">   </span>
      <br class="component-text11" />
      <span class="component-text12">    [ LINKEDIN ]</span>
      <br />
      <br />
    </a>
  </div>
</div>
