.component-container {
  gap: 0;
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 50;
  position: relative;
  flex-wrap: wrap;
  max-width: auto;
  align-self: flex-start;
  align-items: center;
  padding-top: 2px;
  border-color: #ffffff;
  border-style: ridge;
  border-width: 1px;
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  padding-bottom: 2px;
  justify-content: flex-start;
  border-top-width: 4px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.component-link {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-style: normal;
  text-align: left;
  transition: 0.3s;
  font-family: Red Hat Mono;
  font-weight: 500;
  text-decoration: none;
}
.component-link:hover {
  opacity: 0.75;
}
.component-link:active {
  font-style: normal;
  font-weight: 700;
}
.component-text:hover {
  opacity: 0.75;
}
.component-text:active {
  font-style: normal;
  font-weight: 700;
}
.component-text01:hover {
  opacity: 0.75;
}
.component-text01:active {
  font-style: normal;
  font-weight: 700;
}
.component-text02:hover {
  opacity: 0.75;
}
.component-text02:active {
  font-style: normal;
  font-weight: 700;
}
.component-link1 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-style: normal;
  text-align: left;
  transition: 0.3s;
  font-family: Red Hat Mono;
  font-weight: 500;
  text-decoration: none;
}
.component-link1:hover {
  opacity: 0.75;
}
.component-link1:active {
  font-style: normal;
  font-weight: 700;
}
.component-text05:hover {
  opacity: 0.75;
}
.component-text05:active {
  font-style: normal;
  font-weight: 700;
}
.component-text06:hover {
  opacity: 0.75;
}
.component-text06:active {
  font-style: normal;
  font-weight: 700;
}
.component-text07:hover {
  opacity: 0.75;
}
.component-text07:active {
  font-style: normal;
  font-weight: 700;
}
.component-link2 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-style: normal;
  text-align: left;
  transition: 0.3s;
  font-family: Red Hat Mono;
  font-weight: 500;
  text-decoration: none;
}
.component-link2:hover {
  opacity: 0.75;
}
.component-link2:active {
  font-style: normal;
  font-weight: 700;
}
.component-text10:hover {
  opacity: 0.75;
}
.component-text10:active {
  font-style: normal;
  font-weight: 700;
}
.component-text11:hover {
  opacity: 0.75;
}
.component-text11:active {
  font-style: normal;
  font-weight: 700;
}
.component-text12:hover {
  opacity: 0.75;
}
.component-text12:active {
  font-style: normal;
  font-weight: 700;
}
.component-root-class-name {
  left: 4px;
  bottom: 4px;
  position: absolute;
}
.component-root-class-name1 {
  left: 4px;
  bottom: 4px;
  position: absolute;
}
.component-root-class-name2 {
  left: 4px;
  right: 0px;
  bottom: 4px;
  position: absolute;
}
