<div class="carousel-container">
  <fieldset class="image-carousel">
    <legend class="carousel-description">place holder</legend>
    <div class="carousel">
      <img src="./assets/headshot.jpg" alt="Lucas Flowers" class="carousel-image active" loading="eager" />
      <img src="./assets/carousel/jobs.JPG" alt="Career fair" class="carousel-image" loading="lazy" />
      <img src="./assets/carousel/browns-peak.png" alt="Hiking Brown's Peak" class="carousel-image" loading="lazy" />
      <img src="./assets/carousel/himeji-castle.jpg" alt="Himeji Castle, Japan" class="carousel-image" loading="lazy" />
      <img src="./assets/carousel/kyoto.JPG" alt="Kinkaku-ji, Kyoto" class="carousel-image" loading="lazy" />
      <img src="./assets/carousel/WIT.jpg" alt="Wentworth Institute of Technology" class="carousel-image" loading="lazy" />
      <img src="./assets/carousel/robotics-wit.png" alt="Spot at WIT" class="carousel-image" loading="lazy" />
      <img src="./assets/carousel/i-love-me.jpg" alt=": -)" class="carousel-image" loading="lazy" />
      <div class="carousel-description"></div>
    </div>
    <div class="carousel-controls">
      <div class="carousel-counter"></div>
      <div class="carousel-buttons">
        <button class="prev">Prev</button>
        <button class="next">Next</button>
      </div>
    </div>
  </fieldset>
</div>
<script type="module" src="/js/carousel.js"></script>
