

.carousel-image {
  height: 200px;
  display: none; /* Hide all images initially */
  outline: 1px dotted gray;
  cursor: url("../assets/cursors/point.png"), pointer;
}

.carousel-image.active {
  display: block; /* Only show the active image */
}

.carousel {
  display: flex;
  justify-content: center;
}

button.prev {
  left: 10px;
}
button.next {
  right: 10px;
}

.carousel-buttons {
  display: flex;
  width: 200px;
  justify-content: space-around;
  margin-top: 10px;
}

.image-carousel {
    float:right;
    margin: 1rem;
}
.carousel-controls {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  margin-top: 10px;
}

.carousel-buttons {
  display: flex;
  width: 200px;
  justify-content: space-around;
  margin-bottom: 5px; /* Add spacing between buttons and counter */
}

.carousel-counter {
  text-align: center; /* Center the text inside the counter */
  font-size: 10px;
  color: gray;
  outline: 1px dotted gray;
  padding: 0px 5px;
}
@media only screen and (max-width: 660px) {
  .wrapper {
    display: flex;
    flex-direction: column; // Stack elements vertically
    align-items: center; // Center the carousel and text
  }

  .carousel {
    margin-top: 20px; // Add spacing between the text and the carousel
    width: 100%; // Ensure the carousel takes up the full width
  }

  h1,
  h2 {
    text-align: center; // Center-align the text for better appearance
  }
}
